.product-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .card-container {
    // width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      border-radius: 4px;
      height: 300px;
      margin-right: 20px;
    }

    .router-product-detail {
      margin-top: 20px;

      a {
        text-decoration: none;
      }
    }

    .add-cart-btn {
      margin-top: 7px;
    }
  }
}
